body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #2a9158);
    color: white;
}

.card-main {
    background: #081f1b;
    border-radius: 20px;
    height: 520px;
    position: relative;
    overflow: hidden;
}

.card-main::before {
    content: "Designer";
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 6rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.04);
}

.profile-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    ;
    max-height: 450px;
}

.card-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #ffffff;
}

.card-text h2 {
    font-weight: 700;
}

.icons {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    gap: 12px;
}

.icon-circle {
    width: 36px;
    height: 36px;
    background: #ffffff;
    color: #ff6b3d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}



.glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-brand {
    font-weight: 600;
    letter-spacing: 1px;
}

.h {
    height: 90vh;
    display: flex;
    align-items: center;
}

.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

footer {
    font-size: 0.9rem;
    opacity: 0.8;
}